<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper

  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.grepp.spring.app.model.order.OrderRepository">

  <resultMap id="orderMap" type="com.grepp.spring.app.model.order.dto.OrderDto">
    <id property="orderId" column="order_id"/>
    <collection property="orderItemDto" ofType="com.grepp.spring.app.model.order.dto.orderItemDto"
      column="order_id" select="selectOrderItemDtoByOrderId"/>
  </resultMap>

  <select id="selectAll" resultMap="orderMap">
    select * from order
  </select>

  <select id="selectOrderItemDtoByOrderId" parameterType="int" resultType="com.grepp.spring.app.model.order.dto.OrderItemDto">
    select * from order_details_id where order_id = #{orderId}
  </select>

  <!-- 모든 주문 내역 조회 -->
  <select id="findAllOrders" resultType="com.grepp.spring.app.model.order.dto.OrderDto">
    SELECT
    o.order_id       AS orderId,
    o.user_id        AS userId,
    o.order_date     AS orderDate,
    o.expect_delivery_date AS expectDeliveryDate,
    o.address        AS address,
    o.post_number    AS postNumber,
    o.total_price    AS totalPrice,
    o.order_items    AS orderItems,
    o.activated      AS activated
    FROM `order` o
    ORDER BY o.order_date DESC
  </select>



  <!-- 주문 삭제 -->
  <delete id="deleteOrderDetails">
    DELETE FROM order_details WHERE order_id = #{orderId}
  </delete>


  <delete id="deleteOrder">
    DELETE FROM `order` WHERE order_id = #{orderId}
  </delete>


<!--  <delete id="deleteOrder">-->
<!--    DELETE FROM orders WHERE ORDER_ID = #{cartId}-->
<!--  </delete>-->

</mapper>
