<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.grepp.spring.app.model.cart.CartRepository">

  <resultMap id="cartProductMap" type="CartProduct">
    <result property="cartDetailsId" column="cart_details_id" />
    <result property="cartId" column="cart_id" />
    <result property="productId" column="product_id" />
    <result property="productCnt" column="product_cnt" />

    <result property="userId" column="user_id" />

    <result property="productName" column="product_name" />
    <result property="ProductPrice" column="price" />
  </resultMap>

  <select id="findCartWithProductByUserId" resultMap="cartProductMap">

    SELECT
    cd.cart_details_id,
    c.cart_id,
    c.user_id,
    cd.product_id,
    cd.product_cnt,
    p.product_name,
    p.price
    FROM cart c
    JOIN cart_details cd ON c.cart_id = cd.cart_id
    JOIN product p ON cd.product_id = p.product_id
    WHERE c.user_id = #{userId}
  </select>

  <update id="modifyProductCnt" >
    UPDATE cart_details
    SET product_cnt = #{productCnt}
    where cart_details_id = #{cartDetailsId}
  </update>

  <delete id="delete">
    DELETE from cart_details
    WHERE cart_details_id = #{cartDetailsId}
  </delete>

</mapper>